body {
    font-family: "Raleway", sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#475f55+0,98a680+25,98a680+76,475f55+100 */
    background: -moz-linear-gradient(
        left,
        #475f55 0%,
        #98a680 25%,
        #98a680 76%,
        #475f55 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        #475f55 0%,
        #98a680 25%,
        #98a680 76%,
        #475f55 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #475f55 0%,
        #98a680 25%,
        #98a680 76%,
        #475f55 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: 0em;
}
header {
    text-align: center;
    background: #dcd18a;
    padding: 1em;
    border-bottom: 3px solid black;
}
#logo {
    max-width: 200px;
}
#header {
    margin-top: 0em;
}
#search-div {
    margin: 0em 1em;
    padding: 2em;
    text-align: center;
}
input {
    margin: 1em 2em;
    padding: 1em;
    font-family: inherit;
    border-radius: 0.5em;
    width: 20em;
}
#date {
    width: 10em;
}
#search-button {
    margin: 1em 2em;
    padding: 1em;
    font-family: inherit;
    border-radius: 0.5em;
    font-weight: bold;
    background: #dcd18a;
}
#search-results {
    margin: 1em;
    margin-top: 0em;
    padding: 1em;
    display: none;
    text-align: center;
}
p {
    font-weight: bold;
}
table {
    margin: auto;
}
td {
    padding: 0.5em 2.5em;
    font-size: 1.5em;
    font-weight: bold;
}
.start-time {
    font-size: 2em;
    background: #cd5d31;
    border-radius: 0.5em;
}
.tickets {
    padding: 1em;
    font-family: inherit;
    border-radius: 0.5em;
    font-weight: bold;
    background: #dcd18a;
}

@media only screen and (max-width: 1100px) {
    #logo {
        max-width: 150px;
    }
    h1 {
        font-size: 1.5em;
    }
    #search-div {
        padding: 1em;
        margin: 0em, 0.5em;
    }
    #search-results {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    td {
        padding: 0.5em 2em;
        font-size: 1em;
    }
    .start-time {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 700px) {
    body{
        background: #475f55;
    }
    #logo {
        max-width: 100px;
    }
    h1 {
        font-size: 1.5em;
    }
    #search-div {
        padding: 1em;
        margin: 0em, 0.5em;
    }
    #search-results {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    td {
        padding: 0.5em 1.5em;
        font-size: 0.75em;
    }
    .start-time {
        font-size: 1em;
    }
    .tickets {
        padding: 0.75em;
    }
}